body {
    font-family: Verdana, Helvetica, sans-serif;
  }
.topnav {
    background-color: #18004b;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #ad9fff;
    text-align: center;
    padding: 13px 15px;
    font-size: 16px;
  }