.topnav {
    background-color: #18004b;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ad9fff;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }